.elementor-54814 .elementor-element.elementor-element-82e5d25{padding:150px 0px 0px 0px;z-index:1;}.elementor-54814 .elementor-element.elementor-element-fe274e4 .elementor-heading-title{font-size:50px;font-weight:400;-webkit-text-stroke-width:1px;stroke-width:1px;-webkit-text-stroke-color:#000;stroke:#000;}.elementor-54814 .elementor-element.elementor-element-c3a5ad7 .elementor-icon-list-icon{width:14px;}.elementor-54814 .elementor-element.elementor-element-c3a5ad7 .elementor-icon-list-icon i{font-size:14px;}.elementor-54814 .elementor-element.elementor-element-c3a5ad7 .elementor-icon-list-icon svg{--e-icon-list-icon-size:14px;}.elementor-54814 .elementor-element.elementor-element-c3a5ad7 .elementor-icon-list-text, .elementor-54814 .elementor-element.elementor-element-c3a5ad7 .elementor-icon-list-text a{color:#54595F;}.elementor-54814 .elementor-element.elementor-element-c3a5ad7{width:auto;max-width:auto;}.elementor-54814 .elementor-element.elementor-element-52f38d4 > .elementor-widget-container{margin:0px -4px 0px 0px;padding:0px 6px 0px 0px;}.elementor-54814 .elementor-element.elementor-element-52f38d4{width:auto;max-width:auto;}.elementor-54814 .elementor-element.elementor-element-138d966{--box-border-color:var( --e-global-color-uicore_primary );--box-border-width:2px;--box-border-radius:9px;--box-padding:15px;--box-min-height:0px;--header-background-color:var( --e-global-color-uicore_primary );--header-color:#FFFFFF;--toggle-button-color:var( --e-global-color-uicore_light );--item-text-hover-decoration:underline;--marker-color:var( --e-global-color-uicore_primary );}.elementor-54814 .elementor-element.elementor-element-138d966 .elementor-toc__spinner{color:var( --e-global-color-uicore_primary );fill:var( --e-global-color-uicore_primary );}.elementor-54814 .elementor-element.elementor-element-138d966 .elementor-toc__header, .elementor-54814 .elementor-element.elementor-element-138d966 .elementor-toc__header-title{font-size:26px;font-weight:400;}.elementor-54814 .elementor-element.elementor-element-138d966 .elementor-toc__list-item{font-size:16px;font-weight:400;}.elementor-54814 .elementor-element.elementor-element-f054403 .bdt-ss-btn{margin-right:calc(10px / 2);margin-left:calc(10px / 2);margin-bottom:10px;}.elementor-54814 .elementor-element.elementor-element-f054403 .bdt-ep-grid{margin-right:calc(-10px / 2);margin-left:calc(-10px / 2);}.elementor-54814 .elementor-element.elementor-element-f054403.bdt-ss-btns-style-flat .bdt-ss-btn,
					 .elementor-54814 .elementor-element.elementor-element-f054403.bdt-ss-btns-style-gradient .bdt-ss-btn,
					 .elementor-54814 .elementor-element.elementor-element-f054403.bdt-ss-btns-style-boxed .bdt-ss-btn .bdt-ss-icon,
					 .elementor-54814 .elementor-element.elementor-element-f054403.bdt-ss-btns-style-minimal .bdt-ss-btn .bdt-ss-icon{background-color:var( --e-global-color-uicore_primary );}.elementor-54814 .elementor-element.elementor-element-f054403.bdt-ss-btns-style-framed .bdt-ss-btn,
					 .elementor-54814 .elementor-element.elementor-element-f054403.bdt-ss-btns-style-minimal .bdt-ss-btn,
					 .elementor-54814 .elementor-element.elementor-element-f054403.bdt-ss-btns-style-boxed .bdt-ss-btn{color:var( --e-global-color-uicore_primary );border-color:var( --e-global-color-uicore_primary );}.elementor-54814 .elementor-element.elementor-element-d107a97 .post-navigation__arrow-wrapper{color:var( --e-global-color-114726c );}.elementor-54814 .elementor-element.elementor-element-3e9f005 .elementor-heading-title{font-size:53px;}.elementor-54814 .elementor-element.elementor-element-4782dd6 .bdt-post-grid .bdt-primary .bdt-post-grid-img-wrap a{height:346px;}.elementor-54814 .elementor-element.elementor-element-4782dd6 .bdt-post-grid .bdt-post-grid-title{margin-bottom:5px;}.elementor-54814 .elementor-element.elementor-element-4782dd6 .bdt-post-grid .bdt-secondary .bdt-post-grid-title{margin-bottom:0;}.elementor-54814 .elementor-element.elementor-element-4433ccf > .elementor-element-populated > .elementor-widget-wrap{padding:0px 15px 0px 0px;}.elementor-54814 .elementor-element.elementor-element-fbe5d6d > .elementor-widget-container{margin:0px -40px 0px 0px;padding:0px 0px 0px 0px;}.elementor-54814 .elementor-element.elementor-element-8bae83d > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-54814 .elementor-element.elementor-element-c98b7bf .elementor-posts-container .elementor-post__thumbnail{padding-bottom:calc( 0.66 * 100% );}.elementor-54814 .elementor-element.elementor-element-c98b7bf:after{content:"0.66";}.elementor-54814 .elementor-element.elementor-element-c98b7bf .elementor-post__thumbnail__link{width:105px;}.elementor-54814 .elementor-element.elementor-element-c98b7bf{--grid-column-gap:30px;--grid-row-gap:35px;}.elementor-54814 .elementor-element.elementor-element-c98b7bf .elementor-post__thumbnail{border-radius:5px 5px 5px 5px;}.elementor-54814 .elementor-element.elementor-element-c98b7bf.elementor-posts--thumbnail-left .elementor-post__thumbnail__link{margin-right:20px;}.elementor-54814 .elementor-element.elementor-element-c98b7bf.elementor-posts--thumbnail-right .elementor-post__thumbnail__link{margin-left:20px;}.elementor-54814 .elementor-element.elementor-element-c98b7bf.elementor-posts--thumbnail-top .elementor-post__thumbnail__link{margin-bottom:20px;}.elementor-54814 .elementor-element.elementor-element-c98b7bf .elementor-post__title, .elementor-54814 .elementor-element.elementor-element-c98b7bf .elementor-post__title a{font-size:22px;font-weight:400;}.elementor-54814 .elementor-element.elementor-element-c202b24 .elementor-posts-container .elementor-post__thumbnail{padding-bottom:calc( 0.66 * 100% );}.elementor-54814 .elementor-element.elementor-element-c202b24:after{content:"0.66";}.elementor-54814 .elementor-element.elementor-element-c202b24 .elementor-post__thumbnail__link{width:105px;}.elementor-54814 .elementor-element.elementor-element-c202b24{--grid-column-gap:30px;--grid-row-gap:35px;}.elementor-54814 .elementor-element.elementor-element-c202b24 .elementor-post__thumbnail{border-radius:5px 5px 5px 5px;}.elementor-54814 .elementor-element.elementor-element-c202b24.elementor-posts--thumbnail-left .elementor-post__thumbnail__link{margin-right:20px;}.elementor-54814 .elementor-element.elementor-element-c202b24.elementor-posts--thumbnail-right .elementor-post__thumbnail__link{margin-left:20px;}.elementor-54814 .elementor-element.elementor-element-c202b24.elementor-posts--thumbnail-top .elementor-post__thumbnail__link{margin-bottom:20px;}.elementor-54814 .elementor-element.elementor-element-c202b24 .elementor-post__title, .elementor-54814 .elementor-element.elementor-element-c202b24 .elementor-post__title a{font-size:22px;font-weight:400;}.elementor-54814 .elementor-element.elementor-element-7f1630b .elementor-heading-title{color:var( --e-global-color-uicore_primary );font-size:22px;font-weight:600;}.elementor-54814 .elementor-element.elementor-element-478ac4a .elementor-field-group{padding-right:calc( 10px/2 );padding-left:calc( 10px/2 );margin-bottom:10px;}.elementor-54814 .elementor-element.elementor-element-478ac4a .elementor-form-fields-wrapper{margin-left:calc( -10px/2 );margin-right:calc( -10px/2 );margin-bottom:-10px;}.elementor-54814 .elementor-element.elementor-element-478ac4a .elementor-field-group.recaptcha_v3-bottomleft, .elementor-54814 .elementor-element.elementor-element-478ac4a .elementor-field-group.recaptcha_v3-bottomright{margin-bottom:0;}body.rtl .elementor-54814 .elementor-element.elementor-element-478ac4a .elementor-labels-inline .elementor-field-group > label{padding-left:0px;}body:not(.rtl) .elementor-54814 .elementor-element.elementor-element-478ac4a .elementor-labels-inline .elementor-field-group > label{padding-right:0px;}body .elementor-54814 .elementor-element.elementor-element-478ac4a .elementor-labels-above .elementor-field-group > label{padding-bottom:0px;}.elementor-54814 .elementor-element.elementor-element-478ac4a .elementor-field-type-html{padding-bottom:0px;}.elementor-54814 .elementor-element.elementor-element-478ac4a .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper){background-color:#ffffff;border-color:var( --e-global-color-uicore_primary );border-radius:10px 10px 10px 10px;}.elementor-54814 .elementor-element.elementor-element-478ac4a .elementor-field-group .elementor-select-wrapper select{background-color:#ffffff;border-color:var( --e-global-color-uicore_primary );border-radius:10px 10px 10px 10px;}.elementor-54814 .elementor-element.elementor-element-478ac4a .elementor-field-group .elementor-select-wrapper::before{color:var( --e-global-color-uicore_primary );}.elementor-54814 .elementor-element.elementor-element-478ac4a .e-form__buttons__wrapper__button-next{color:#ffffff;}.elementor-54814 .elementor-element.elementor-element-478ac4a .elementor-button[type="submit"]{color:#ffffff;}.elementor-54814 .elementor-element.elementor-element-478ac4a .elementor-button[type="submit"] svg *{fill:#ffffff;}.elementor-54814 .elementor-element.elementor-element-478ac4a .e-form__buttons__wrapper__button-previous{color:#ffffff;}.elementor-54814 .elementor-element.elementor-element-478ac4a .e-form__buttons__wrapper__button-next:hover{color:#ffffff;}.elementor-54814 .elementor-element.elementor-element-478ac4a .elementor-button[type="submit"]:hover{color:#ffffff;}.elementor-54814 .elementor-element.elementor-element-478ac4a .elementor-button[type="submit"]:hover svg *{fill:#ffffff;}.elementor-54814 .elementor-element.elementor-element-478ac4a .e-form__buttons__wrapper__button-previous:hover{color:#ffffff;}.elementor-54814 .elementor-element.elementor-element-478ac4a{--e-form-steps-indicators-spacing:20px;--e-form-steps-indicator-padding:30px;--e-form-steps-indicator-inactive-secondary-color:#ffffff;--e-form-steps-indicator-active-secondary-color:#ffffff;--e-form-steps-indicator-completed-secondary-color:#ffffff;--e-form-steps-divider-width:1px;--e-form-steps-divider-gap:10px;}.elementor-widget .tippy-tooltip .tippy-content{text-align:center;}@media(max-width:1024px){.elementor-54814 .elementor-element.elementor-element-c98b7bf .elementor-post__title, .elementor-54814 .elementor-element.elementor-element-c98b7bf .elementor-post__title a{font-size:19px;}.elementor-54814 .elementor-element.elementor-element-c202b24 .elementor-post__title, .elementor-54814 .elementor-element.elementor-element-c202b24 .elementor-post__title a{font-size:19px;}}@media(min-width:768px){.elementor-54814 .elementor-element.elementor-element-8e6f121{width:65%;}.elementor-54814 .elementor-element.elementor-element-4433ccf{width:35%;}}@media(max-width:767px){.elementor-54814 .elementor-element.elementor-element-52f38d4 > .elementor-widget-container{margin:0px -3px 0px 0px;padding:3px 0px 0px 0px;}.elementor-54814 .elementor-element.elementor-element-c98b7bf .elementor-posts-container .elementor-post__thumbnail{padding-bottom:calc( 0.5 * 100% );}.elementor-54814 .elementor-element.elementor-element-c98b7bf:after{content:"0.5";}.elementor-54814 .elementor-element.elementor-element-c202b24 .elementor-posts-container .elementor-post__thumbnail{padding-bottom:calc( 0.5 * 100% );}.elementor-54814 .elementor-element.elementor-element-c202b24:after{content:"0.5";}}/* Start custom CSS for shortcode, class: .elementor-element-52f38d4 */.post-views.entry-meta > span {
    margin-right: 0 !important;
    font: 16px/1;
    color: #54595F;
}
.post-views.entry-meta > span.post-views-icon.dashicons {
    display: inline-block;
    font-size: 16px;
    line-height: 1;
    text-decoration: inherit;
    vertical-align: middle;
    color: red;
}
.post-views.entry-meta > span.post-views-icon.dashicons{
    color: #ff002e;
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-fa0ecdc */ul.social-icons.social.social-bg {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 8px;
    row-gap: 8px;
    margin: 0;
    list-style: none;
    padding: 0;
}
ul.social-icons.social.social-bg li {
    display: block;
    margin: 0;
    list-style: none;
}
ul.social-icons.social.social-bg li a {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 36px;
    overflow: hidden;
    font-size: 16px;
    color: #fff;
    text-align: center;
    line-height: 36px;
    padding: 0;
    border-radius: 5px;
    overflow: hidden;
}
ul.social-icons.social.social-bg li a:before {
    width: 36px;
    background-color: rgba(255,255,255,0.1);
    margin: 0;
    display: inline-block;
    font-family: 'Font Awesome 5 Brands';
    font-style: normal;
    font-weight: 400;
}
ul.social-icons.social.social-bg li a span {
    display: inline-block;
    font-size: 14px;
    padding: 0 10px;
    font-family: 'Tajawal';
}
ul.social-icons.social.social-bg li.facebook-f a {
    background-color: #3b5999;
}
ul.social-icons.social.social-bg li.facebook-f a:before {
    content: '\f39e';
}
ul.social-icons.social.social-bg li.instagram a {
    background: linear-gradient( 
15deg
 ,#ffb13d,#dd277b,#4d5ed4);
}
ul.social-icons.social.social-bg li.instagram a:before {
    content: '\f16d';
}
ul.social-icons.social.social-bg li.pinterest a {
    background: #bd081c;
}
ul.social-icons.social.social-bg li.pinterest a:before {
    content: "\f0d2";
}
ul.social-icons.social.social-bg li.behance a {
    background: #1769ff;
}
ul.social-icons.social.social-bg li.behance a:before {
    content: "\f1b4";
}
ul.social-icons.social.social-bg li.Linkden link-4 a {
    background-color: #3b5999;
}
ul.social-icons.social.social-bg li.Linkedin a {
    background: #0e76a8;
}
ul.social-icons.social.social-bg li.Linkedin a:before {
    content: '\f0e1';
}
ul.social-icons.social.social-bg li.twitter a {
    background: #1DA1F2;
}
ul.social-icons.social.social-bg li.twitter a:before {
    content: '\f099';
}
ul.social-icons.social.social-bg li.youtube a {
    background: #FF0000;
}
ul.social-icons.social.social-bg li.youtube a:before {
    content: '\f167';
}
ul.social-icons.social.social-bg li.whatsapp a {
    background: #128C7E;
}
ul.social-icons.social.social-bg li.whatsapp a:before {
    content: '\f232';
}/* End custom CSS */
/* Start custom CSS for wp-widget-categories, class: .elementor-element-fbe5d6d */.sidebar-categories h5 {
    display: none;
}
.sidebar-categories ul {
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column-reverse;
}
.sidebar-categories ul li {
    text-align: left;
    display: none;
}
.sidebar-categories ul a {
    float: right;
    color: #54595f;
}
.sidebar-categories ul li:nth-last-child(-n+7) {
    display: list-item;
}
.sidebar-categories ul li:nth-last-child(-n+7) {
    font-size: 22px;
}/* End custom CSS */
/* Start custom CSS for wp-widget-tag_cloud, class: .elementor-element-8bae83d */.custom-sideba-tags .tagcloud a {
    background: #ffffff;
    color: #ff002e;
    padding: 5px;
    margin: 10px 3px;
    display: none;
    font-size: 15px !important;
    border-radius: 5px;
    border: 1px solid #ff002e;
}
.custom-sideba-tags .tagcloud a:nth-child(-n+14) {
    display: inline-block;
}
.custom-sideba-tags h5 {
    display: none;
}/* End custom CSS */
/* Start custom CSS for posts, class: .elementor-element-c98b7bf */.tow-posts-sidebar article.elementor-post.elementor-grid-item {
    align-items: center;
    justify-content: center;
}
.tow-posts-sidebar article.elementor-post.elementor-grid-item:first-child {
    display: none;
}/* End custom CSS */
/* Start custom CSS for posts, class: .elementor-element-c202b24 */.tow-posts-sidebar article.elementor-post.elementor-grid-item {
    align-items: center;
    justify-content: center;
}
.tow-posts-sidebar article.elementor-post.elementor-grid-item:first-child {
    display: none;
}/* End custom CSS */